body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 250px 1fr;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 220px;
    height: 250px;
}

nav {
    grid-area: left;
    background-color: #f2f2f2;
    padding: 5px;
    font-size: 30px;
}

article {
    grid-area: main;
    text-align: center;
    color: #333;
    padding: 1px;
    line-height: 30px;
    font-size: 220px;
}

aside {
    grid-area: right;
    background-color: #f2f2f2;
    padding: 5px;
    font-size: 30px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 30px;
    font-size: 30px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

.custom-text {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    border-radius: 5px;
}

table, th, td {
    font-size: 30px;
    border: 1px solid black;
    border-collapse: collapse;
}

#clocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clock-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 150px;
    border-radius: 8px;
}

.clock-display {
    font-size: 24px;
    margin: 10px 0;
}

button {
    margin: 5px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}