<header>
    <h1>
        <span class="{% if home_coach.red >= 1 %}red{% else %}none{% endif %}">{{ home_coach['red'] }}</span>
        <span class="{% if home_coach.yellow >= 1 %}yellow{% else %}none{% endif %}">{{ home_coach.yellow }}</span>
        <!-- <span style="font-size: 28px; color: #888;">{{ home_coach['AC'] }}</span>
        <span style="font-size: 28px; color: #888;">{{ home_coach['TM'] }}</span> -->
        <span style="font-size: 30px; color: #050505;">spacer</span>
        <span style="font-size: 30px; color: white;">{{ hometimeoutv }}</span>
        <span style="font-size: 300px; color: #ffffff;">{{ TeamHome['goals'] }}</span>
        <span style="font-size: 100px; color: blue; width: 1000px;">{{location}}</span>
        <span style="font-size: 300px; color: rgba(255, 191, 0, 1);">{{ TeamAway['goals'] }}</span>
        <span style="font-size: 30px; color: white;">{{ awaytimeoutv }}</span>
        <span style="font-size: 30px; color: #050505;">spacer</span>
        <span class="{% if away_coach.red >= 1 %}red{% else %}none{% endif %}">{{ away_coach['red'] }}</span>
        <span class="{% if away_coach.yellow == 1 %}yellow{% else %}none{% endif %}">{{ away_coach.yellow }}</span>
        <!-- <span style="font-size: 28px; color: #888;">{{ away_coach['AC'] }}</span>
        <span style="font-size: 28px; color: #888;">{{ away_coach['TM'] }}</span> -->
    </h1>
</header>
