<!DOCTYPE html>
<html>
<head>
    <title>Development Waterpolo Scoresheet</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="static/jquery.min.js"></script>
</head>

    <script>
        function reload() {
            setTimeout(() => { window.location.href = "/display"; }, 1000);
        }

        function playSound() {
            var audio = new Audio('/static/airhorn.mp3');
            audio.play();
        }

        function startCountdown() {
            $.ajax({
                url: '/start_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function pauseCountdown() {
            $.ajax({
                url: '/pause_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function resumeCountdown() {
            $.ajax({
                url: '/resume_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function stopCountdown() {
            $.ajax({
                url: '/stop_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function updateCountdown() {
            $.ajax({
                url: '/get_countdown_status',
                success: function(response) {
                    let countdownElement = document.getElementById('countdown');
                    let timeLeft = response.elapsed_time;
                    if (response.countdown_running) {
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        countdownElement.innerHTML = '<br> ' + minutes +':' + seconds.toString().padStart(2, '0') + '';
                        if (timeLeft > 0) {
                            setTimeout(() => { window.location.href = "/display"; }, 1000);
                        } else {
                            setTimeout(() => { window.location.href = "/display"; }, 1000);
                        }
                    } else {
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        countdownElement.innerHTML = '<br>Paused';
                        setTimeout(() => { window.location.href = "/display"; }, 1000);
                    }
                }
            });
        }

        updateCountdown();
    </script>

<body>
    <header>
        <h1>
            <span style="font-size: 30px; color: white;">{{ hometimeoutv }} </span>
            <span style="font-size: 200px; color: white;">{{ TeamHome['goals'] }} </span>
            <span style="font-size: 100px; color: grey; width: 1000px;">{{location}}</span>
            <span style="font-size: 200px; color: blue;">{{ TeamAway['goals'] }}</span>
            <span style="font-size: 30px; color: white;">{{ awaytimeoutv }} </span>
        </h1>
    </header>

    <nav>
        <table>
            <tr>
                <th colspan="4">{{HomeTeam}}</th>
            </tr>
            <tr>
                <th>Player&nbsp;&nbsp;&nbsp;</th>
                <th><small>Goals&nbsp;</small></th>
                <th><small>Majors</small></th>
                <th><small>Assists</small></th>
            </tr>
            {% for user_id, teama in teama.items() %}
            <tr class="custom-text" style="background-color:
                {% if teama.majors == 1 %}
                    #00ff00;
                {% elif teama.majors == 2 %}
                    #ff9933;
                {% elif teama.majors >= 3 %}
                    #ff3300;
                {% else %}
                    white;
                {% endif %}
            ">
                <td>{{ user_id }}</td>
                <td>{{ teama.goals }}</td>
                <td>{{ teama.majors }}</td>
                <td>{{ teama.assists }}</td>
            </tr>
            {% endfor %}
        </table>
    </nav>

    <article>
        <div><span style="color: red;" id="countdown"></span></div>
        <br>
        <br>
        {% include 'messages.html' %}
    </article>

    <aside>
        <table>
            <tr>
                <th colspan="4">{{AwayTeam}}</th>
            </tr>
            <tr>
                <th>Player&nbsp;&nbsp;&nbsp;</th>
                <th><small>Goals&nbsp;</small></th>
                <th><small>Majors</small></th>
                <th><small>Assists</small></th>
            </tr>
            {% for user_id, teamb in teamb.items() %}
            <tr class="custom-text" style="background-color:
                {% if teamb.majors == 1 %}
                    #00ff00;
                {% elif teamb.majors == 2 %}
                    #ff9933;
                {% elif teamb.majors >= 3 %}
                    #ff3300;
                {% else %}
                    white;
                {% endif %}
            ">
                <td>{{ user_id }}</td>
                <td>{{ teamb.goals }}</td>
                <td>{{ teamb.majors }}</td>
                <td>{{ teamb.assists }}</td>
            </tr>
            {% endfor %}
        </table>
    </aside>

    <footer>
        <span style="font-size: 50px; padding: 10px; color: Red;">Quarter: {{ quarter }}</span>
    </footer>
</body>
</html>
