<!DOCTYPE html>
<html>
<head>
    <title>Development Waterpolo Scoresheet</title>
 <link rel="stylesheet" href="../static/style.css">
<script src="static/jquery.min.js">
  </script>

</head>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.addEventListener('keydown', function(event) {
                if (event.ctrlKey && event.key === '1') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/1', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '2') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/2', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '3') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/3', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'r') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/2', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 't') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/3', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '4') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/4', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '5') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/5', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '6') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/6', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '7') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/7', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'f') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/6', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'g') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/7', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '8') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/8', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === '9') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/9', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'h') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/9', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'y') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/10', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'u') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/11', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'j') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/12', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.ctrlKey && event.key === 'c') {
                    event.preventDefault();
                    fetch('/updateteambpenalty/13', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '1') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/1', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '2') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/2', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '3') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/3', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'r') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/2', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 't') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/3', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '4') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/4', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '5') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/5', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '6') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/6', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '7') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/7', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'f') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/6', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'g') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/7', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '8') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/8', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === '9') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/9', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'h') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/9', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'y') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/10', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'u') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/11', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'j') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/12', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'c') {
                    event.preventDefault();
                    fetch('/updateteamapenalty/13', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())
                    window.location.href = '/';
                }
                else if (event.key === 'x') {
                    event.preventDefault();
                    window.location.href = '/';
                    // Perform another action here
                }


            });
        });
        function playSound() {
            var audio = new Audio('/static/airhorn.mp3');
            audio.play();
        }
        function startCountdown() {
            $.ajax({
                url: '/start_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function pauseCountdown() {
            $.ajax({
                url: '/pause_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function resumeCountdown() {
            $.ajax({
                url: '/resume_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function stopCountdown() {
            $.ajax({
                url: '/stop_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function updateCountdown() {
            $.ajax({
                url: '/get_countdown_status',
                success: function(response) {
                    let countdownElement = document.getElementById('countdown');
                    let timeLeft = response.elapsed_time;
                    if (response.countdown_running) {
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        countdownElement.innerHTML = '<br> ' + minutes +':' + seconds.toString().padStart(2, '0') + '';
                        // countdownElement.innerHTML = 'Remaining Time: ' + seconds.toString().padStart(2, '0') + 's';
                        if (timeLeft > 0) {
                            setTimeout(updateCountdown, 1000);
                        }
                        else {
                        	playSound()
                            setTimeout(() => { window.location.href = "/callinterval"; }, 2000);

                        }
                    } else {
                        // countdownElement.innerHTML = '<br>Paused';
                        let timeLeft = response.elapsed_time;
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        countdownElement.innerHTML = '<br> ' + minutes +':' + seconds.toString().padStart(2, '0') + '';
                    }
                }
            });
        }
        function homegoal() {
            window.open('/homegoal', 'Popup', 'width=600,height=400');
            // Initial update of countdown display
        }
        updateCountdown();
    </script>

<body>

  <header>

      <h1>

          <span style="font-size: 30px; color: white;">{{ hometimeoutv }} </span>
          <span style="font-size: 200px; color: white;">{{ TeamHome['goals'] }} </span>
          <span style="font-size: 100px; color: grey; width: 1000px ;">{{location}}</span>
              <span style="font-size: 200px; color: blue;">  {{ TeamAway['goals'] }}</span>
          <span style="font-size: 30px; color: white;">{{ awaytimeoutv }} </span>

      </h1>
  </header>


   <nav>
<!--    <h6>Home Team</h6>-->
    <table class="center" style="width:100%"  >
        <tr>
    <th colspan="4"> <form action="/savehomeplayers/home"><button style="height:30px;width:300px;font-size: 25px;font-weight: bold; " type="submit">{{HomeTeam}}</button> </form></th>
</tr>
        <tr>
    <th> Player&nbsp;&nbsp;&nbsp;</th>
    <th> <small>Goals&nbsp;</small></th>
    <th> <small>Majors</small></th>
<!--    <th> <small>Assists</small></th>-->
        </tr>
        {% for user_id, teama in teama.items() %}
        <tr class="custom-text" style="background-color:
            {% if teama.reds  == 1 %}
              black;
            {% elif teama.majors  == 1 %}
                #00ff00;
            {% elif teama.majors == 2 %}
                #ff9933;
            {% elif teama.majors >= 3 %}
                #ff3300; /* Add more conditions as needed */
            {% else %}
                white; /* Fallback color */
            {% endif %}


        ">
            <td>                <form method="POST" action="/updateteamapenalty/{{ user_id }}">
                <button style="height:28px;width:180px" type="submit">{{ user_id }}</button>
                </form></td>
            <td>{{ teama.goals }}</td>
            <td>{{ teama.majors }}</td>
<!--            <td>{{ teama.assists }}</td>-->


        </tr>
        {% endfor %}
    </table>

  </nav>

<article>


    <table class="center" style="width:100%" >
        <tr>
            <td style="width:10%">    <button style="height:50px;width:50px" onclick="addmin()"> + </button>      </td>
            <td style="width:80%" rowspan="3">    <span style="color: blue  ; font-size:300px;""  id="countdown"> </span>         </td>
            <td style="width:10%" >    <button style="height:50px;width:50px" onclick="addsec()"> + </button>      </td>
        </tr>
        <tr>
            <td>            </td>

            <td>            </td>
        </tr>
                <tr>
            <td>  <button style="height:50px;width:50px" onclick="minmin()"> - </button>          </td>

            <td>  <button style="height:50px;width:50px" onclick="minsec()"> - </button>      </td>
        </tr>

    </table>


<!--    <button style="height:50px;width:200px" onclick="startCountdown()">Start</button>-->
    <button style="height:50px;width:300px" onclick="pauseCountdown()"><u>S</u>tart / Stop</button>
 <!--   <button style="height:50px;width:100px" onclick="resumeCountdown()">Resume</button> -->
    <button style="height:50px;width:50px" onclick="stopCountdown()">Reset</button>

  </div>
</div>
<br>
<br>

  <table class="center"; style="text-align: center">
        <tr>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;Score&nbsp;&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">Majors&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>

        </tr>
          {% for team_id, scores in periodscores.items() %}
        <tr>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals4 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors4 }}</td>
        </tr>
        {% endfor %}
    </table>
<br>

            <table class="center"; style="text-align: center">
<td>

                <th style="width:200px" > Penalty </th>

</td>
                                <td>         <form action="/?">
            <button style="height:50px;width:200px" type="submit"><u>Back (X)</button>
                </form> </td>
        </table>



</article>


<aside>
<!--    <h6>Away Team</h6>-->
    <table class="center" style="width:100%"  >
        <tr>
    <th colspan="4"> <form action="/saveawayplayers/away"><button style="height:30px;width:300px;font-size: 25px;font-weight: bold; " type="submit">{{AwayTeam}}</button> </form> </th>
</tr>
        <tr>
    <th> Player&nbsp;&nbsp;&nbsp;</th>
    <th> <small>Goals&nbsp;</small></th>
    <th> <small>Majors</small></th>
<!--    <th> <small>Assists</small></th>-->

        </tr>
        {% for user_id, teamb in teamb.items() %}
        <tr class="custom-text" style="background-color:
            {% if teamb.reds  == 1 %}
              black;
            {% elif teamb.majors  == 1 %}
                #00ff00;
            {% elif teamb.majors == 2 %}
                #ff9933;
            {% elif teamb.majors >= 3 %}
                #ff3300; /* Add more conditions as needed */
            {% else %}
                white; /* Fallback color */
            {% endif %}
        ">
            <td>                <form method="POST" action="/updateteambpenalty/{{ user_id }}">
                <button style="height:28px;width:180px" type="submit">{{ user_id }}</button>
                </form></td>
            <td>{{ teamb.goals }}</td>
            <td>{{ teamb.majors }}</td>
<!--            <td>{{ teama.assists }}</td>-->


        </tr>
        {% endfor %}
    </table>

<!--       <form method="POST" action="/action">-->
<!--                 <select name="action" id="action">-->
<!--                    <option value="increment">increment</option>-->
<!--                    <option value="decrement">decrement</option>-->
<!--                </select>-->
<!--         <button type="submit">action</button>-->
<!--   </form>-->


</aside>

</body>
</html>



