<!DOCTYPE html>
<html>
<head>
    <title>Development Waterpolo Scoresheet</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="static/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>
            <span style="font-size: 120px; color: grey;">&nbsp;&nbsp;&nbsp;Scoreboard&nbsp;&nbsp;Settings&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </h1>
    </header>

    <article class="center">
        <form method="POST" action="/save">
            <table class="center" style="width:100%">
                <tr>
                    <td style="background-color:darkgray; font-size: 35px;">Settings</td>
                    <td style="background-color:lightgray; font-size: 35px;">Values</td>
                </tr>
                <tr>
                    <td style="background-color:gray; font-size: 35px;">Game Time</td>
                    <td style="background-color:gray; font-size: 35px;">
                        <select name="game" id="game">
                            <option value=14>7 Min</option>
                            <option value=13>6:30 Min</option>
                            <option value=12>6 Min</option>
                            <option value=11>5:30 Min</option>
                            <option value=10>5 Min</option>
                            <option value=15>7:30 Min</option>
                            <option value=16>8 Min</option>
                            <option value=17>8:30 Min</option>
                            <option value=18>9 Min</option>
                            <option value=19>9:30 Min</option>
                            <option value=20>10 Min</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:gray; font-size: 35px;">Interval</td>
                    <td style="background-color:gray; font-size: 35px;">
                        <select name="interval" id="interval">
                            <option value=4>2</option>
                            <option value=2>1</option>
                            <option value=3>1.5</option>
                            <option value=4>2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:gray; font-size: 35px;">Half Time</td>
                    <td style="background-color:gray; font-size: 35px;">
                        <select name="half" id="half">
                            <option value=4>2</option>
                            <option value=2>1</option>
                            <option value=3>1.5</option>
                            <option value=4>2</option>
                            <option value=5>2.5</option>
                            <option value=6>3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:gray; font-size: 35px;">Shot Clock</td>
                    <td style="background-color:gray; font-size: 35px;">
                        <select name="shotclock" id="shotclock">
                            <option value=28>28</option>
                            <option value=30>30</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:gray; font-size: 35px;">Max Majors</td>
                    <td style="background-color:gray; font-size: 35px;">
                        <select name="majors" id="majors">
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color:gray; font-size: 35px;">
                        <label for="Location">Location&nbsp;&nbsp;&nbsp;:</label>
                        <input type="text" id="Location" name="Location" value="{{location}}"><br>
                        <label for="Home">Home Team:</label>
                        <input type="text" id="Home" name="Home" value="{{HomeTeam}}"><br>
                        <label for="Away">Away Team:</label>
                        <input type="text" id="away" name="Away" value="{{AwayTeam}}"><br>
                    </td>
                </tr>
            </table>
            <button style="height:80px;width:200px" type="submit">Save</button>
        </form>
    </article>

    <footer>
        <table class="center" style="width:100%">
            <tr>
                <td style="width:15%" rowspan="2">
                    <form method="GET" action="/">
                        <button style="height:80px;width:200px" type="submit">Return to Game</button>
                    </form>
                </td>
                <td style="width:10%" rowspan="2">
                    <form action="/connectble">
                        <button style="height:80px;width:200px" type="submit">Connect</button>
                    </form>
                </td>
                <td style="width:10%" rowspan="2">
                    <form action="/disconnectble">
                        <button style="height:80px;width:200px" type="submit">Disconnect</button>
                    </form>
                </td>
                <td style="width:15%" rowspan="2">
                    <form method="GET" action="/settings">
                        <button style="height:80px;width:200px" type="submit">refresh</button>
                    </form>
                </td>
                <td style="width:80%">This program was developed by Toby Makepeace from Kingston Royals WaterPolo Club</td>
            </tr>
            <tr>
                <td>To contact email toby.krjwp@gmail.com, happy to customise for club donation</td>
            </tr>
        </table>
        <span style="font-size: 20px; color: grey;">&nbsp;{{ble_clients}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </footer>
</body>
</html>