<!DOCTYPE html>
<html>
<head>
    <title>Development Waterpolo Scoresheet</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="static/jquery.min.js">
  </script>

    <style>
        .red {
            color: red;
            font-size: 30px;
        }
        .yellow {
            color: yellow;
            font-size: 30px;
        }
        .none {
            color: black;
            font-size: 30px;
        }
    </style>


</head>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script>
        function playSound() {
            var audio = new Audio('/static/airhorn.mp3');
            audio.play();
        }
        function changeSound() {
            var audio = new Audio('/static/airhorn-change.mp3');
            audio.play();

        }
        function playbell() {
            var audio = new Audio('/static/bell-ring.mp3');
            audio.play();
        }
        function startCountdown() {
            $.ajax({
                url: '/start_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        function buzzer() {
            $.ajax({
              url: '/buzzer',
              success: function(response) {
                    playSound()
                }
            });
        }

       //
       document.addEventListener('DOMContentLoaded', (event) => {
            document.addEventListener('keydown', function(event) {
                 if (event.key === 'n') {
                    event.preventDefault();
                    pauseCountdown()
                }
                // shared
                else if (event.key === 'c') {
                    event.preventDefault();
                    window.location.href = '/major';
                }
                else if (event.key === 'v') {
                    event.preventDefault();
                    window.location.href = '/goal';
                    // Perform another action here
                }
                else if (event.key === 'b') {
                    event.preventDefault();
                    window.location.href = '/penalty';
                }

                // Away
                else if (event.key === 't') {
                    event.preventDefault();
                    window.location.href = '/awaytimeout';
                }
                else if (event.key === 'g') {
                    event.preventDefault();
                    window.location.href = '/awaycard';
                }
                 //Home
                else if ( event.key === 'r') {
                     event.preventDefault();
                    window.location.href = '/hometimeout';
                }
                else if (event.key === 'f') {
                    event.preventDefault();
                    window.location.href = '/homecard';
                }
                else if (event.key === 'x') {
                    event.preventDefault();
                    window.location.href = '/clear';
                }
                else if (event.key === 'y') {
                    event.preventDefault();
                    possession();
                }
                else if (event.key === 'u') {
                    event.preventDefault();
                    reset20();
                }
                else if (event.key === 'h') {
                    event.preventDefault();
                    pause30();
                }
                else if (event.key === 'j') {
                    event.preventDefault();
                    pause20();
                }



            });
        });

        function pauseCountdown() {
            $.ajax({
                url: '/pause_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        function resumeCountdown() {
            $.ajax({
                url: '/resume_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function stopCountdown() {
            $.ajax({
                url: '/stop_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function updateCountdown() {
            $.ajax({
                url: '/get_countdown_status',
                success: function (response) {
                    let countdownElement = document.getElementById('countdown');
                    let shotdownElement = document.getElementById('shotdown');
                    let timeLeft = response.elapsed_time;
                    let shotLeft = response.elapsed_shot;
                    if (shotLeft <= timeLeft) {
                        shotdownElement.style.color = "red";
                      } else {
                        shotdownElement.style.color = "white";
                      }
                    if (timeLeft > 60 ) {
                        countdownElement.style.color = "blue";
                      } else if (timeLeft > 30 ) {
                        countdownElement.style.color = "orange";
                      } else {
                        countdownElement.style.color = "red";
                      }

                    if (response.countdown_running) {
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        let shotseconds = Math.floor(shotLeft % 60);
                        countdownElement.innerHTML = '<br> ' + minutes + ':' + seconds.toString().padStart(2, '0') + '';
                        shotdownElement.innerHTML = '<br> ' + shotseconds.toString().padStart(2, '0') + '';
                        // countdownElement.innerHTML = 'Remaining Time: ' + seconds.toString().padStart(2, '0') + 's';
                        var quarter = {{ quarter }}
                        if (quarter < 4) {
                            if (timeLeft > 1) {
                                if (shotLeft < 1) {
                                    changeSound();
                                    $.ajax({
                                        url: '/changeposs',
                                        success: function(response) {
                                            reset30();
                                        }
                                    });
                                }
                                setTimeout(updateCountdown, 1000);

                            } else {
                                playSound()
                                $.ajax({
                                    url: '/periodend',
                                    success: function(response) {
                                        reset30();
                                    }
                                });
                                setTimeout(() => {
                                    window.location.href = "/callinterval";
                                }, 2000);

                            }
                        } else if (quarter = 4) {
                            if (timeLeft > 61) {
                                if (shotLeft < 1) {
                                    changeSound();
                                    $.ajax({
                                        url: '/changeposs',
                                        success: function(response) {
                                            reset30();
                                        }
                                    });
                                }
                                setTimeout(updateCountdown, 1000);
                            } else if (timeLeft > 59) {
                                playbell();
                                // if shotLeft = 0 {
                                //     playSound();
                                //     possession()
                                // }
                                setTimeout(updateCountdown, 1000);
                            } else if (timeLeft > 1) {
                                if (shotLeft < 1) {
                                    changeSound();
                                    $.ajax({
                                        url: '/changeposs',
                                        success: function(response) {
                                            reset30();
                                        }
                                    });
                                }
                                setTimeout(updateCountdown, 1000);

                            } else {
                                playSound()
                                $.ajax({
                                    url: '/periodend',
                                    success: function(response) {
                                        reset30();
                                    }
                                });
                                setTimeout(() => {
                                    window.location.href = "/callinterval";
                                }, 2000);

                            }
                        }



                        // if  (timeLeft > 1) {
                        //     setTimeout(updateCountdown, 1000);
                        // } else {
                        //     playSound()
                        //     setTimeout(() => {
                        //         window.location.href = "/callinterval";
                        //     }, 2000);
                        //
                        // }
                    } else {
                        // countdownElement.innerHTML = '<br>Paused';
                        let timeLeft = response.elapsed_time;
                        let shotLeft = response.elapsed_shot;
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        let shotseconds = Math.floor(shotLeft % 60);
                        countdownElement.innerHTML = '<br> ' + minutes + ':' + seconds.toString().padStart(2, '0') + '';
                        shotdownElement.innerHTML = '<br> ' + shotseconds.toString().padStart(2, '0') + '';
                    }
                }
            });
        }


        function reset20() {
            $.ajax({
                url: '/reset20',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function pause20() {
            $.ajax({
                url: '/pause20',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function force20() {
            $.ajax({
                url: '/force20',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        function pause30() {
            $.ajax({
                url: '/pause30',
                success: function(response) {
                    updateCountdown();
                }
            });
        }



        function possession() {
            $.ajax({
                url: '/possession',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function reset30() {
            $.ajax({
                url: '/reset30',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function addmin() {
            $.ajax({
                url: '/addmin',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        function minmin() {
            $.ajax({
                url: '/minmin',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
                function addsec() {
            $.ajax({
                url: '/addsec',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
                function minsec() {
            $.ajax({
                url: '/minsec',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        // function homegoal() {
        //     window.open('/homegoal', 'Popup', 'width=600,height=400');
        //     // Initial update of countdown display
        // }
        updateCountdown();


    </script>


<body>

  <header>
<!--  <div class="clock-display" id="shotdown">00</div>-->
<!--   <div>-->
<!--&lt;!&ndash;    <button id="reset-top-20">Reset to 20s</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button id="reset-top-30">Reset to 30s</button>&ndash;&gt;-->
<!--  </div>-->

<!--      <td style="width:10%" rowspan="3">    <span style="color: blue  ; font-size:100px;""  id="shotdown"> </span>         </td>-->

      <h1>

          <span class="{% if home_coach.red >= 1 %}red{% else %}none{% endif %}">  {{ home_coach.red }} </span>
          <span class="{% if home_coach.yellow >= 1 %}yellow{% else %}none{% endif %}">  {{ home_coach.yellow }} </span>
          <span style="font-size: 30px; color: #333333 ;"> spacer </span>
          <span style="font-size: 30px; color: white;">{{ hometimeoutv }} </span>
          <span style="font-size: 300px; color: white;">{{ TeamHome['goals'] }} </span>
          <span style="font-size: 100px; color: grey; width: 1000px ;">{{location}}</span>
              <span style="font-size: 300px; color: Yellow;">  {{ TeamAway['goals'] }}</span>
          <span style="font-size: 30px; color: white;">{{ awaytimeoutv }} </span>
          <span style="font-size: 30px; color: #333333 ;"> spacer </span>
          <span class="{% if away_coach.yellow == 1 %}yellow{% else %}none{% endif %}">  {{ away_coach.yellow }} </span>
          <span class="{% if away_coach.red >= 1 %}red{% else %}none{% endif %}">  {{ away_coach.red }} </span>


      </h1>
  </header>


  <nav>
<!--    <h6>Home Team</h6>-->
    <table class="center" style="width:100%"  >
        <tr>
    <th colspan="4"> <form action="/savehomeplayers/home"><button style="height:30px;width:300px;font-size: 25px;font-weight: bold; " type="submit">{{HomeTeam}}</button> </form></th>
</tr>
        <tr>
    <th> Player&nbsp;&nbsp;&nbsp;</th>
    <th> <small>Goals&nbsp;</small></th>
    <th> <small>Majors</small></th>
<!--    <th> <small>Assists</small></th>-->
        </tr>
        {% for user_id, teama in teama.items() %}
        <tr class="custom-text" style="background-color:
            {% if teama.reds  == 1 %}
              black;
            {% elif teama.majors  == 1 %}
                #00ff00;
            {% elif teama.majors == 2 %}
                #ff9933;
            {% elif teama.majors >= 3 %}
                #ff3300; /* Add more conditions as needed */
            {% else %}
                white; /* Fallback color */
            {% endif %}


        ">
            <td>{{ user_id }}</td>
            <td>{{ teama.goals }}</td>
            <td>{{ teama.majors }}</td>
<!--            <td>{{ teama.assists }}</td>-->


        </tr>
        {% endfor %}
    </table>
<table>
    <tr>
        <td>
              <form action="/homecard">
            <button style="height:50px;width:120px" type="submit">Card (F) </button>
            </form>
      </td>
        <td>
        <form action="/hometimeout">
            <button style="height:50px;width:160px" type="submit">Timeout (R)</button>
        </form>
      </td>
<!--            <td>-->
<!--              <form action="/homepenalty">-->
<!--            <button style="height:50px;width:200px" type="submit"><u>P</u>enalty</button>-->
<!--                  </form>-->
<!--      </td>-->
    </tr>
</table>
<!--<table>-->
<!--<tr>-->

<!--        <td>-->
<!--              <form action="/homemajor">-->
<!--            <button style="height:50px;width:240px" type="submit"><u>M</u>ajor</button>-->
<!--</form>-->

<!--      </td>-->
<!--        <td>-->
<!--                   <form action="/homegoal">-->
<!--            <button style="height:50px;width:240px" type="submit"><u>G</u>oal</button>-->
<!--&lt;!&ndash;<input style="height:50px;width:200px" type="submit" value="Edit Settings" />&ndash;&gt;-->
<!--</form>-->

<!--      </td>-->

<!--    </tr>-->

<!--</table>-->
</nav>

<article>

    <table class="center" style="width:100%" >
        <tr>
            <td style="width:10%">    <button style="height:50px;width:50px" onclick="addmin()"> + </button>      </td>
            <td style="width:80%" rowspan="3">    <span style="font-size:300px;"  id="countdown"> </span>         </td>
            <td style="width:10%" >    <button style="height:50px;width:50px" onclick="addsec()"> + </button>      </td>
        </tr>
        <tr>
            <td>            </td>

            <td>            </td>
        </tr>
                <tr>
            <td>  <button style="height:50px;width:50px" onclick="minmin()"> - </button>          </td>

            <td>  <button style="height:50px;width:50px" onclick="minsec()"> - </button>      </td>
        </tr>

    </table>
<!--&lt;!&ndash;    <button style="height:50px;width:200px" onclick="startCountdown()">Start</button>&ndash;&gt;-->
<!--    <button style="height:50px;width:300px" onclick="pauseCountdown()">Start / Stop (N)</button>-->
<!-- &lt;!&ndash;   <button style="height:50px;width:100px" onclick="resumeCountdown()">Resume</button> &ndash;&gt;-->
<!--    <button style="height:50px;width:50px" onclick="stopCountdown()">Reset</button>-->



<!--
  <table class="center"; style="text-align: center">
        <tr>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;Score&nbsp;&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
        </tr>
          {% for team_id, scores in periodscores.items() %}
        <tr>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals4 }}</td>
        </tr>
        {% endfor %}
    </table>

      <table style="text-align: center">
        <tr>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">Majors&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
        </tr>
          {% for user_id, scores in periodscores.items() %}
        <tr>
            <td style="background-color:powderblue;  font-size: 30px;">{{ user_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors4 }}</td>
        </tr>
        {% endfor %}
    </table>
 -->

        <table class="center"; style="text-align: center">
        <tr>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;Score&nbsp;&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">Majors&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
    
        </tr>
          {% for team_id, scores in periodscores.items() %}
        <tr>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals4 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors4 }}</td>
        </tr>
        {% endfor %}
    </table>


      <table class="center"; style="text-align: center">
      <tr>

          <th colspan="2" >      <button style="height:200px;width:150px" onclick="pauseCountdown()">Start / Stop (N)</button>   </th>
          <th colspan="2" >    <button style="height:150px;width:150px" onclick="possession()">Running Change (Y)</button>  <button style="height:150px;width:150px" onclick="pause30()">Paused Change (H)</button> </th>
<!--          <th colspan="3">       <span style="font-size: 300px; color: red;" id="shotdown">00</span>       </th>-->
          <th colspan="3">       <span style="font-size: 300px;" id="shotdown">00</span>       </th>

          <th colspan="2" >     <button style="height:150px;width:150px" onclick="reset20()">Shot (U)</button> <button style="height:150px;width:150px" onclick="pause20()">Corner (J)</button>       </th>
          <th colspan="2" > <button style="height:100px;width:150px;font-size:10px;color:red " onclick="buzzer()">Buzzer</button> <button style="height:100px;width:150px" onclick="force20()">Force short</button> <button style="height:100px;width:150px;font-size:10px;color:red " onclick="stopCountdown()">Reset Clocks</button>       </th>


      </tr>
  </table>

      {% include 'messages.html' %}

<table class="center"; style="text-align: center">
<tr>

        <td>
              <form action="/major">
            <button style="height:80px;width:300px" type="submit">Major (C)</button>
</form>

      </td>
        <td>
                   <form action="/goal">
            <button style="height:80px;width:300px" type="submit">Goal (V)</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>

      </td>
       <td>
              <form action="/penalty">
            <button style="height:80px;width:300px" type="submit">Penalty (B)</button>
                  </form>
      </td>
    </tr>

</table>

</article>



<aside>
<!--    <h6>Away Team</h6>-->
    <table class="center" style="width:100%"  >
        <tr>
    <th colspan="4"> <form action="/saveawayplayers/away"><button style="height:30px;width:300px;font-size: 25px;font-weight: bold; " type="submit">{{AwayTeam}}</button> </form> </th>
</tr>
        <tr>
    <th> Player&nbsp;&nbsp;&nbsp;</th>
    <th> <small>Goals&nbsp;</small></th>
    <th> <small>Majors</small></th>
<!--    <th> <small>Assists</small></th>-->

        </tr>
        {% for user_id, teamb in teamb.items() %}
        <tr class="custom-text" style="background-color:
            {% if teamb.reds  == 1 %}
              black;
            {% elif teamb.majors  == 1 %}
                #00ff00;
            {% elif teamb.majors == 2 %}
                #ff9933;
            {% elif teamb.majors >= 3 %}
                #ff3300; /* Add more conditions as needed */
            {% else %}
                white; /* Fallback color */
            {% endif %}
        ">
            <td>{{ user_id }}</td>
            <td>{{ teamb.goals }}</td>
            <td>{{ teamb.majors }}</td>
<!--            <td>{{ teama.assists }}</td>-->


        </tr>
        {% endfor %}
    </table>

<!--       <form method="POST" action="/action">-->
<!--                 <select name="action" id="action">-->
<!--                    <option value="increment">increment</option>-->
<!--                    <option value="decrement">decrement</option>-->
<!--                </select>-->
<!--         <button type="submit">action</button>-->
<!--   </form>-->

<table>
    <tr>
                <td>
              <form action="/awaycard">
            <button style="height:50px;width:120px" type="submit">Card (G)</button>
        </form>
      </td>

            <td>
        <form action="/awaytimeout">
            <button style="height:50px;width:160px" type="submit">Timeout (T)</button>
        </form>
      </td>
<!--            <td>-->
<!--              <form action="/awaypenalty">-->
<!--            <button style="height:50px;width:200px" type="submit"><sub>ctrl</sub>    <u>P</u>enalty</button>-->
<!--                  </form>-->
<!--      </td>-->
    </tr>
</table>
<!--    <table>-->
<!-- <tr>-->

<!--        <td>-->
<!--              <form action="/awaymajor">-->
<!--            <button style="height:50px;width:240px" type="submit"><sub>ctrl</sub>    <u>M</u>ajor</button>-->
<!--</form>-->

<!--      </td>-->
<!--        <td>-->
<!--                   <form action="/awaygoal">-->
<!--            <button style="height:50px;width:240px" type="submit"><sub>ctrl</sub>    <u>G</u>oal</button>-->
<!--&lt;!&ndash;<input style="height:50px;width:200px" type="submit" value="Edit Settings" />&ndash;&gt;-->
<!--</form>-->

<!--      </td>-->
<!--</tr>-->
<!--     <tr>-->


<!--</tr>-->
<!--</table>-->

</aside>

<footer>


  <table>
      <td>
        <form method="POST" action="/start">
            <button style="height:50px;width:200px" type="submit">Start Game</button>
        </form>
      </td>
      <td>
        <form method="POST" action="/period">
        <button style="height:50px;width:200px" type="submit">Next Period</button>
        </form>
        </td>
      <td>
        <form method="POST" action="/clear">
            <button style="height:50px;width:200px" type="submit">Delete</button>
        </form>
      </td>
      <td>
        <form method="POST" action="/finish">
            <button style="height:50px;width:200px" type="submit">Finish Game</button>
        </form>
      </td>
      <td>
      <span style="font-size: 50px; padding: 10px; color: white;"> Quarter:  {{ quarter }} </span>
</td>
      <td>
        <form action="/settings">
            <button style="height:50px;width:200px" type="submit">Edit Settings</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
      </td>
      <td>
        <form action="/callinterval">
            <button style="height:50px;width:200px" type="submit" onclick="playSound()">interval</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
      </td>
          <td>
        <form action="/saverefdata/referee">
            <button style="height:50px;width:150px" type="submit">Referees</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
</td>
               <td>
        <form action="/help">
            <button style="height:50px;width:50px" type="submit">help</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
</td>
  </table>

</footer>

</body>
</html>
