<!DOCTYPE html>
<html>
<head>
    <title>Development Waterpolo Scoresheet</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>

</head>

    <script>
        function playSound() {
            var audio = new Audio('/static/airhorn.mp3');
            audio.play();
        }
        function startCountdown() {
            $.ajax({
                url: '/start_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

       //
       document.addEventListener('DOMContentLoaded', (event) => {
            document.addEventListener('keydown', function(event) {
                if (event.ctrlKey && event.key === 's') {
                    event.preventDefault();
                    pauseCountdown()
                    // Perform your action here
                }
                // else if (event.key === ' ') {
                //     event.preventDefault();
                //     pauseCountdown()
                //     // Perform another action here
                // }

               else if (event.key === 's') {
                    event.preventDefault();
                    pauseCountdown()
                }
                // Away
               else if (event.ctrlKey && event.key === 'm') {
                    event.preventDefault();
                    window.location.href = '/awaymajor';
                }
                else if (event.ctrlKey && event.key === 'g') {
                    event.preventDefault();
                    window.location.href = '/awaygoal';
                    // Perform another action here
                }
                else if (event.ctrlKey && event.key === 'p') {
                    event.preventDefault();
                    window.location.href = '/awaypenalty';
                }
                else if (event.ctrlKey && event.key === 't') {
                    event.preventDefault();
                    window.location.href = '/awaytimeout';
                }
                 //Home
                else if (event.key === 'm') {
                    event.preventDefault();
                    window.location.href = '/homemajor';
                }
                else if (event.key === 'g') {
                    event.preventDefault();
                    window.location.href = '/homegoal';
                    // Perform another action here
                }
                else if (event.key === 'p') {
                    event.preventDefault();
                    window.location.href = '/homepenalty';
                }
                else if ( event.key === 't') {
                     event.preventDefault();
                    fetch('/hometimeout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ key: 'value' })
                    })
                    .then(response => response.json())

                    window.location.href = '/timeout';
                }

            });
        });
        //
        // function pauseCountdown() {
        //     $.ajax({
        //         if (response.countdown_running) {
        //                 url: '/pause_countdown',
        //                 success: function(response) {
        //                     updateCountdown();
        //                 }
        //             }
        //         else {
        //                 url: '/start_countdown',
        //                 success: function(response) {
        //                     updateCountdown();
        //                 }
        //
        //             }
        //     });
        // }
        function pauseCountdown() {
            $.ajax({
                url: '/pause_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        function resumeCountdown() {
            $.ajax({
                url: '/resume_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function stopCountdown() {
            $.ajax({
                url: '/stop_countdown',
                success: function(response) {
                    updateCountdown();
                }
            });
        }

        function updateCountdown() {
            $.ajax({
                url: '/get_countdown_status',
                success: function (response) {
                    let countdownElement = document.getElementById('countdown');
                    let timeLeft = response.elapsed_time;
                    if (response.countdown_running) {
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        countdownElement.innerHTML = '<br> ' + minutes + ':' + seconds.toString().padStart(2, '0') + '';
                        // countdownElement.innerHTML = 'Remaining Time: ' + seconds.toString().padStart(2, '0') + 's';
                        if (timeLeft > 0) {
                            setTimeout(updateCountdown, 1000);
                        } else {
                            playSound()
                            setTimeout(() => {
                                window.location.href = "/callinterval";
                            }, 2000);

                        }
                    } else {
                        // countdownElement.innerHTML = '<br>Paused';
                        let timeLeft = response.elapsed_time;
                        let minutes = Math.floor(timeLeft / 60);
                        let seconds = Math.floor(timeLeft % 60);
                        countdownElement.innerHTML = '<br> ' + minutes + ':' + seconds.toString().padStart(2, '0') + '';
                    }
                }
            });
        }
        function addmin() {
            $.ajax({
                url: '/addmin',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        function minmin() {
            $.ajax({
                url: '/minmin',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
                function addsec() {
            $.ajax({
                url: '/addsec',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
                function minsec() {
            $.ajax({
                url: '/minsec',
                success: function(response) {
                    updateCountdown();
                }
            });
        }
        // function homegoal() {
        //     window.open('/homegoal', 'Popup', 'width=600,height=400');
        //     // Initial update of countdown display
        // }
        updateCountdown();
    </script>

<body>

  <header>

      <h1>

          <span style="font-size: 30px; color: white;">{{ hometimeoutv }} </span>
          <span style="font-size: 300px; color: white;">{{ TeamHome['goals'] }} </span>
          <span style="font-size: 100px; color: grey; width: 1000px ;">{{location}}</span>
              <span style="font-size: 300px; color: Yellow;">  {{ TeamAway['goals'] }}</span>
          <span style="font-size: 30px; color: white;">{{ awaytimeoutv }} </span>

      </h1>
  </header>


  <nav>
<!--    <h6>Home Team</h6>-->
    <table class="center" style="width:100%"  >
        <tr>
    <th colspan="4"> <form action="/savehomeplayers/home"><button style="height:30px;width:300px;font-size: 25px;font-weight: bold; " type="submit">{{HomeTeam}}</button> </form></th>
</tr>
        <tr>
    <th> Player&nbsp;&nbsp;&nbsp;</th>
    <th> <small>Goals&nbsp;</small></th>
    <th> <small>Majors</small></th>
<!--    <th> <small>Assists</small></th>-->
        </tr>
        {% for user_id, teama in teama.items() %}
        <tr class="custom-text" style="background-color:
            {% if teama.majors  == 1 %}
                #00ff00;
            {% elif teama.majors == 2 %}
                #ff9933;
            {% elif teama.majors >= 3 %}
                #ff3300; /* Add more conditions as needed */
            {% else %}
                white; /* Fallback color */
            {% endif %}
        ">
            <td>{{ user_id }}</td>
            <td>{{ teama.goals }}</td>
            <td>{{ teama.majors }}</td>
<!--            <td>{{ teama.assists }}</td>-->


        </tr>
        {% endfor %}
    </table>
<table>
    <tr>
            <td>
        <form action="/hometimeout">
            <button style="height:50px;width:200px" type="submit"><u>T</u>imeout</button>
        </form>
      </td>
            <td>
              <form action="/homepenalty">
            <button style="height:50px;width:200px" type="submit"><u>P</u>enalty</button>
                  </form>
      </td>
    </tr>
<!--</table>-->
<!--<table>-->


        <td>
              <form action="/homemajor">
            <button style="height:50px;width:200px" type="submit"><u>M</u>ajor</button>
</form>

      </td>
        <td>
                   <form action="/homegoal">
            <button style="height:50px;width:200px" type="submit"><u>G</u>oal</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>

      </td>

</table>
</nav>

<article>

    <table class="center" style="width:100%" >
        <tr>
            <td style="width:10%">    <button style="height:50px;width:50px" onclick="addmin()"> + </button>      </td>
            <td style="width:80%" rowspan="3">    <span style="color: blue  ; font-size:300px;""  id="countdown"> </span>         </td>
            <td style="width:10%" >    <button style="height:50px;width:50px" onclick="addsec()"> + </button>      </td>
        </tr>
        <tr>
            <td>            </td>

            <td>            </td>
        </tr>
                <tr>
            <td>  <button style="height:50px;width:50px" onclick="minmin()"> - </button>          </td>

            <td>  <button style="height:50px;width:50px" onclick="minsec()"> - </button>      </td>
        </tr>

    </table>


<!--    <button style="height:50px;width:200px" onclick="startCountdown()">Start</button>-->
    <button style="height:50px;width:300px" onclick="pauseCountdown()"><u>S</u>tart / Stop</button>
 <!--   <button style="height:50px;width:100px" onclick="resumeCountdown()">Resume</button> -->
    <button style="height:50px;width:50px" onclick="stopCountdown()">Reset</button>

  </div>
</div>
<br>
<br>
<!--
  <table class="center"; style="text-align: center">
        <tr>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;Score&nbsp;&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
        </tr>
          {% for team_id, scores in periodscores.items() %}
        <tr>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals4 }}</td>
        </tr>
        {% endfor %}
    </table>

      <table style="text-align: center">
        <tr>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">Majors&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
        </tr>
          {% for user_id, scores in periodscores.items() %}
        <tr>
            <td style="background-color:powderblue;  font-size: 30px;">{{ user_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors4 }}</td>
        </tr>
        {% endfor %}
    </table>
 -->
  <table class="center"; style="text-align: center">
        <tr>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;Score&nbsp;&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">Majors&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P1&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P2&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P3&nbsp;</th>
            <th style="background-color:rgb(128,128,128);  font-size: 30px;">&nbsp;P4&nbsp;</th>
    
        </tr>
          {% for team_id, scores in periodscores.items() %}
        <tr>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.goals4 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ team_id }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors1 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors2 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors3 }}</td>
            <td style="background-color:powderblue;  font-size: 30px;">{{ scores.majors4 }}</td>
        </tr>
        {% endfor %}
    </table>
        
      {% include 'messages.html' %}
</article>



<aside>
<!--    <h6>Away Team</h6>-->
    <table class="center" style="width:100%"  >
        <tr>
    <th colspan="4"> <form action="/saveawayplayers/away"><button style="height:30px;width:300px;font-size: 25px;font-weight: bold; " type="submit">{{AwayTeam}}</button> </form> </th>
</tr>
        <tr>
    <th> Player&nbsp;&nbsp;&nbsp;</th>
    <th> <small>Goals&nbsp;</small></th>
    <th> <small>Majors</small></th>
<!--    <th> <small>Assists</small></th>-->

        </tr>
        {% for user_id, teamb in teamb.items() %}
        <tr class="custom-text" style="background-color:
            {% if teamb.majors  == 1 %}
                #00ff00;
            {% elif teamb.majors == 2 %}
                #ff9933;
            {% elif teamb.majors >= 3 %}
                #ff3300; /* Add more conditions as needed */
            {% else %}
                white; /* Fallback color */
            {% endif %}
        ">
            <td>{{ user_id }}</td>
            <td>{{ teamb.goals }}</td>
            <td>{{ teamb.majors }}</td>
<!--            <td>{{ teama.assists }}</td>-->


        </tr>
        {% endfor %}
    </table>

<!--       <form method="POST" action="/action">-->
<!--                 <select name="action" id="action">-->
<!--                    <option value="increment">increment</option>-->
<!--                    <option value="decrement">decrement</option>-->
<!--                </select>-->
<!--         <button type="submit">action</button>-->
<!--   </form>-->

<table>
    <tr>
            <td>
        <form action="/awaytimeout">
            <button style="height:50px;width:200px" type="submit"><sub>ctrl</sub>    <u>T</u>imeout</button>
        </form>
      </td>
            <td>
              <form action="/awaypenalty">
            <button style="height:50px;width:200px" type="submit"><sub>ctrl</sub>    <u>P</u>enalty</button>
                  </form>
      </td>
    </tr>
 <tr>

        <td>
              <form action="/awaymajor">
            <button style="height:50px;width:200px" type="submit"><sub>ctrl</sub>    <u>M</u>ajor</button>
</form>

      </td>
        <td>
                   <form action="/awaygoal">
            <button style="height:50px;width:200px" type="submit"><sub>ctrl</sub>    <u>G</u>oal</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>

      </td>
</tr>
</table>

</aside>

<footer>


  <table>
      <td>
        <form method="POST" action="/start">
            <button style="height:50px;width:200px" type="submit">Start Game</button>
        </form>
      </td>
      <td>
        <form method="POST" action="/period">
        <button style="height:50px;width:200px" type="submit">Next Period</button>
        </form>
        </td>
      <td>
        <form method="POST" action="/clear">
            <button style="height:50px;width:200px" type="submit">Delete</button>
        </form>
      </td>
      <td>
        <form method="POST" action="/finish">
            <button style="height:50px;width:200px" type="submit">Finish Game</button>
        </form>
      </td>
      <td>
      <span style="font-size: 50px; padding: 10px; color: white;"> Quarter:  {{ quarter }} </span>
</td>
      <td>
        <form action="/settings">
            <button style="height:50px;width:200px" type="submit">Edit Settings</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
      </td>
      <td>
        <form action="/callinterval">
            <button style="height:50px;width:200px" type="submit" onclick="playSound()">interval</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
      </td>
      <td>
        <form action="/download/{{ filename }}">
            <button style="height:50px;width:150px" type="submit">download</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
</td>
          <td>
        <form action="/saverefdata/referee">
            <button style="height:50px;width:150px" type="submit">Referees</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
</td>
               <td>
        <form action="/help">
            <button style="height:50px;width:50px" type="submit">help</button>
<!--<input style="height:50px;width:200px" type="submit" value="Edit Settings" />-->
</form>
</td>
  </table>
</footer>

</body>
</html>
